.vote-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-height: 800vh; /* Set maximum height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
}

h2 {
    font-size: 36px;
    text-align: center;
    color: #2f3a48;
    margin-bottom: 40px;
}

h3 {
    font-size: 10px;
    text-align: left;
    color: #2f3a48;
    margin-bottom: 40px;
}

blockquote {
    background-color: #fdeff5;
    padding: 15px;
    margin: 0 0 20px 0;
    font-size: 28px;
    color: #2f3a48;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
    font-size: 25px;
    padding: 15px;

    border-radius: 8px;
}

.option {
    font-weight: 1000;
    text-align: right;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.upvote {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    background-color: #f69eca;
    color: white;
}
