.vote-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fdeff5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-y: auto;
    max-height: 80vh;
}

h2 {
    font-size: 36px;
    text-align: center;
    color: #2f3a48;
    margin-bottom: 40px;
}

h3 {
    font-size: 22px;
    color: #4f5a6a;
    margin-bottom: 20px;
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.options-container {
    display: flex;
    flex-direction: column; /* Stack options vertically */
    align-items: flex-start;
}

.option-item {
    display: flex;
    flex-direction: column; /* Stack option details vertically */
    align-items: flex-start;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #fafafa;
    border-radius: 8px;
    width: 100%;
    font-size: 22px;
}

.option {
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
}

.upvote {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    background-color: #f69eca;
    color: white;
    margin-bottom: 10px;
}

span {
    font-size: 18px;
    color: #4f5a6a;
}
